<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
  
<body>
    <a href="javascript:void(0);" class="seekTo">00:40</a>
    <div id="myplayer"></div>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src='https://www.youtube.com/iframe_api'></script>
    <script type="text/javascript" src="/static/js/test.js"></script>
    

<div>
<input id="input"type="text" onkeyup="if(window.event.keyCode==13){input_url()}"> <button class="summit" type="submit" onclick="input_url()"> 입력</button>
</div>
<div id="result"> </div>
</html>