<!DOCTYPE html>
<!-- static 폴더의 데이터 활용하기 -->

<html>
    <!-- HEAD(제목 등) -->
    <!-- 브라우저에서 HTML 실행시 가장 먼저 읽어 들이는 곳 -->
    <!-- JavaScript, CSS 등의 처리를 기본적으로 수행 -->
<head>
    <title>보강(보는강의)</title>

    <link rel="stylesheet" type="text/css" href = "/static/css/main.css">
    <link rel="stylesheet" type="text/css" href = "https://getbootstrap.kr/docs/5.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

</head>

<!-- BODY(본문) -->
<body scroll="no">
<!-- 네비게이션 -->
    {% include '/include/nav.html'%}

<!-- 검색창 -->
<div class="main">
    <div>
    </div>
    <center>
      <form action="/learning", method="POST">
        <div class="search">
            <input id = 'url' name="url" type="text" placeholder="유튜브 URL주소를 입력하세요.">
            <button class="summit" type="submit" >
                <img class="summit" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" alt=""> 
            </button>
        </div>
      </form>
        </center>

    <div>
    </div>
<br>
<br>
</div>


<!-- 메인화면 -->
<div class="main">

<div>
</div>

<center>
<form action="/learning" method="POST">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <button class="formbutton" value="https://www.youtube.com/watch?v=g4ctGPOZV1M&t=1s" name="url" type="submit">
      <div class="col">
        <div class="card">
          <img src="https://i.ytimg.com/vi/g4ctGPOZV1M/maxresdefault.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">데이터에듀</h5>
            <p class="card-text">[ADsP] <br> 1과목 데이터의 정의와 유형</p>
          </div>
        </div>
      </div>
    </button>

    <button class="formbutton" value="https://www.youtube.com/watch?v=IHd-v4zYxj0" name="url" type="submit">
      <div class="col">
        <div class="card">
          <img src="https://i.ytimg.com/vi/IHd-v4zYxj0/maxresdefault.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">EduAtoZ - Programming</h5>
            <p class="card-text">[데이터분석 준전문가 ADSP] <br> 1과목-2 암묵지와 형식지</p>
          </div>
        </div>
      </div>
    </button>

    <button class="formbutton" value="https://www.youtube.com/watch?v=BzmC-ss-Rwc" name="url" type="submit">
      <div class="col">
        <div class="card">
          <img src="https://i.ytimg.com/vi/BzmC-ss-Rwc/maxresdefault.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">흥달쌤</h5>
            <p class="card-text">[정보처리기사 필기 특강] <br>서브넷 통신속도 구하기</p>
          </div>
        </div>
      </div>
    </button>
  </div>
</form>
</div>
</center>

<div>
</div>

<div id="youtube"></div>
<!-- 푸터 -->
{% include '/include/footer.html'%}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://getbootstrap.kr/docs/5.0/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
            crossorigin="anonymous"></script>
            
</body>
</html>