{%load static%}

<div class="slider">
  <input type="radio" name="slide" id="slide1" checked>
  <input type="radio" name="slide" id="slide2">

  <ul id="imgholder"  class="imgs">
      <li style="margin-left: 50px;"><img src="{% static 'surveyapp/images/part2/part2_02/time_1.png' %}" style="width: 900px; height: 500px;"></li>
      <li style="margin-left: 50px;"><img src="{% static 'surveyapp/images/part2/part2_02/time_2.png' %}" style="width: 900px; height: 500px;"></li>
  </ul>
  
  <div class="bullets">
      <label for="slide1">&nbsp;</label>
      <label for="slide2">&nbsp;</label>
  </div>
</div>
